# {{ project_slug }}/__init__.py

"""{{ project_name }} - {{ project_description }}"""

__version__ = "{{ version }}"
__author__ = "{{ author }}"
__email__ = "{{ author_email }}"

from .cli import cli

__all__ = ["cli"]
